.diplodoc-tabs {
    margin-bottom: 15px;

    ol {
        counter-reset: tabs-list;

        & > li {
            counter-increment: tabs-list;

            &::before {
                content: counters(tabs-list, '.') '. ';
            }
        }
    }
}

.diplodoc-tab-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.diplodoc-tab {
    margin-bottom: -1px;
    margin-right: 20px;
    border-bottom: 2px solid transparent;

    padding: 6px 0 7px 0;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    user-select: none;
    white-space: break-spaces;

    &:last-child {
        margin-right: 0;
    }

    &:hover, &:active {
        color: #004080;
    }

    &.active {
        border-bottom-color: #027bf3;
    }
}

.diplodoc-tab-panel {
    display: none;

    &:first-child {
        margin-top: 0 !important;
    }

    &:last-child {
        margin-bottom: 0 !important;
    }

    &.active {
        display: block;
    }
}
